{% extends "feeds/base.html" %}

{% load codesters %}

{% block feed_content %}
<div class="row-fluid">
    <div class="span9">
        {% for feed in feeds %}
        <div class="row-fluid">
            <div class="span12 feed feed-{{ feed.feed_type.color }}">
                <div class="row-fluid">
                    <div class="span1 vote">
                        <a href="#"><i class="icon-thumbs-up icon-3x"></i> </a>
                        <a href="#"><i class="icon-thumbs-down icon-3x"></i> </a>
                    </div>
                    <div class="span11 feed-data">
                        <h3><a href="{% url feed_redirect pk=feed.id %}">{{ feed.title }}</a> <small>{{ feed.url|website }}</small></h3>
                        <p><small>submitted  {{ feed.created_on|age  }} by 
                                <a href="{{ feed.created_by.userprofile.get_absolute_url }}">{{ feed.created_by }}</a> in 
                                <a href="{% url feed_type_list slug=feed.feed_type.slug %}">{{ feed.feed_type }}</a>
                        </small> </p>
                        <a href="{% url feed_detail pk=feed.id %}" class="btn btn-small"><i class="icon-comments"></i> Discuss - # comments</a> 
                        {% if user.is_staff or feed.created_by.user == user %}<a href="{% url feed_update pk=feed.id %}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% include "pagination.html" %}
    </div>
    <div class="span3 well">{% include "feeds/tags.html" %}</div>
</div>
{% endblock %}
