Django==1.4.5
MySQL-python==1.2.4
PIL==1.1.7
South==0.7.6
anyjson==0.3.3
argparse==1.2.1
distribute==0.6.36
django-braces==1.0.0
django-disqus==0.4.1
django-extensions==1.0.3
django-guardian
django-ratings==0.3.7
django-registration==0.8
django-widget-tweaks==1.1.2
gunicorn==0.17.2
python-dateutil==2.1
wsgiref==0.1.2
Markdown==2.3.1
