Django==1.4.5
South==0.7.6
#dj-database-url==0.2.1
django-extensions==1.0.3
django-guardian
django-registration==0.8
gunicorn==0.17.2
ipython==0.13.1
#psycopg2==2.4.6
django-widget-tweaks==1.1.2
django-braces==1.0.0
MYSQL-python==1.2.4
