{% extends "registration/registration_base.html" %}
{% block head_title %}{% if account %}Activation complete{% else %}Activation problem{% endif %}{% endblock %}
{% block content %}
{% if account %}
<h3>Activation Complete</h3>
<p>Thanks {{ account }}, activation complete!  You may now <a href="{% url 'auth_login' %}">Login</a> using the username and password you set at registration.</p>
{% else %}
<p>Oops &ndash; it seems that your activation key is invalid.  Please check the url again.</p>
{% endif %}
{% endblock %}

