{% extends "registration/registration_base.html" %}
{% block head_title %}Login{% endblock %}
{% block content %}

<div class="auth-form">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
    <h2 class="auth-form-heading">Login <small>to your account</small></h2>
    <hr />
{% if form.errors %}
<div class="alert alert-error"><button type="button" data-dismiss="alert" class="close">&times;</button>
Your username and password didn't match. Please try again.
</div>
{% endif %}
    {% include "snippets/forms/form_base.html" %}
<button class="btn btn-primary" type="submit"><i class="icon-signin"></i> Login</button>
<p>Forgot your password?<a href="{% url 'auth_password_reset' %}"> Reset it</a> <br />Need an new account? <a href="{% url 'registration_register' %}">Register Here</a></p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
{% block extra_js %}
<script>
$(".auth-form").find("form").find("input:not([type=hidden]):first").focus();
</script>
{% endblock %}
