{% extends "registration/registration_base.html" %}
{% block head_title %}Login{% endblock %}
{% block content %}

<div class="container">
<form method="post" class="auth-form" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
    <h2 class="auth-form-heading">Login <small>to your account</small></h2>
{% if form.errors %}
<div class="alert alert-error"><button type="button" data-dismiss="alert" class="close">&times;</button>
Your username and password didn't match. Please try again.
</div>
{% endif %}
    {% include "base_form.html" %}
<p><a class="btn btn-mini" href="{% url auth_password_reset %}">Forgot your password?</a> <a class="btn btn-success btn-mini" href="{% url registration_register %}">Need an account?</a></p>
<button class="btn btn-primary" type="submit"><i class="icon-signin"></i> Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
