{% extends "registration/registration_base.html" %}
{% block head_title %}Reset password{% endblock %}
{% block content %}
<h3>Forgot your password?  </h3>
</p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
<div class="span6 offset1">
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
        {% include "snippets/forms/form_base.html" %}
        <button class="btn btn-primary pull-right" type="submit">Reset password</button>
    </form>
</div>
{% endblock %}
