{% extends "registration/registration_base.html" %}
{% block head_title %}Reset password{% endblock %}
{% block page_title %}Reset password{% endblock %}
{% block content %}
<p class="lead">Forgot your password?  </p>
</p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
<div class="span6 offset1">
    <form class="form-horizontal" method="post" action="">{% csrf_token %}
        {% include "base_form.html" %}
        <button class="btn btn-primary pull-right" type="submit">Reset password</button>
    </form>
</div>
{% endblock %}
