{% extends "base.html" %}
{% load url from future %}
{% load active from codesters %}

{% load gravatar %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" title="Recent Snippets from {{ userinfo.username }}-Rss" href="{% url 'user_snippet_rss' username=userinfo.username %}" />
<link rel="alternate" type="application/atom+xml" title="Recent Snippets from {{ userinfo.username }}-Atom" href="{% url 'user_snippet_atom' username=userinfo.username %}" />
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span3 profile-sidebar well well-small">
        <div class="row-fluid">
            <div class="span12 profile-photo">
                {% if userinfo.userprofile.gravatar_email %}
                <a href="http://gravatar.com/emails/"><img class="img-polaroid" src="{% gravatar_url userinfo.userprofile.gravatar_email %}" alt="{{ userinfo }} photo - codesters" /></a>
                {% else %}
                <a href="http://gravatar.com/emails/"><img class="img-polaroid" src="{% gravatar_url userinfo.email %}" alt="{{ userinfo }} photo - codesters" /></a>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 profile-short-info">
                <ul class="nav nav-list ">
                    <li class="nav-header">{{ userinfo }}</li>
                    <li><a href="{{ userinfo.userprofile.get_absolute_url }}"><i class="icon-user"></i> {{ userinfo.get_full_name|default:"(Not provided)" }}</a></li>
                    <li class="nav-header">Other Profiles</li>
                    {% if userinfo.userprofile.github %}<li><a href="http://github.com/{{ userinfo.userprofile.github }}"><i class="icon-github"></i> Github</a></li>{% endif %}
                    {% if userinfo.userprofile.twitter %}<li><a href="http://twitter.com/{{ userinfo.userprofile.twitter }}"><i class="icon-twitter"></i> Twitter</a></li>{% endif %}
                    {% if userinfo.userprofile.website %}<li><a href="{{ userinfo.userprofile.website }}"><i class="icon-external-link"></i> Website</a></li>{% endif %}
                    {% if userinfo.userprofile.stackoverflow %}<li><a href="http://stackoverflow.com/users/{{ userinfo.userprofile.stackoverflow }}"><i class="icon-cogs"></i> Stackoverflow</a></li>{% endif %}
                    {% if userinfo.userprofile.facebook %}<li><a href="http://facebook.com/{{ userinfo.userprofile.facebook }}"><i class="icon-facebook"></i> Facebook</a></li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="span9 profile-main">
        <ul class="nav nav-tabs">
            {% url 'user_info' userinfo.username as info_tab %}
            <li class="{% active request.path info_tab %}"><a href="{{ info_tab }}"><i class="icon-info-sign"></i> Info</a></li>
            {% url 'user_snippets' username=userinfo.username as snippet_tab %}
            <li class="{% active request.path snippet_tab %}"><a href="{{ snippet_tab }}"><i class="icon-quote-right"></i> Wall</a></li>
            {% url 'user_projects' username=userinfo.username as project_tab %}
            <li class="{% active request.path  project_tab %}"><a href="{{ project_tab }}"><i class="icon-briefcase"></i> Projects</a></li>
            {% url 'user_resources' userinfo.username as resource_tab %}
            <li class="{% active request.path  resource_tab %}"><a href="{{ resource_tab }}"><i class="icon-pushpin"></i> Shared Resources</a></li>
        </ul>
        <div class="row-fluid profile-content">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
