{% extends "base.html" %}
{% load url from future %}
{% load active from codesters %}

{% block page_subtitle %}{{ user }}{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
{% url 'userprofile_update' username=user.username as profile %}
    <li class="{% active request profile %}"><a href="{{ profile }}">Profile</a></li>
{% url 'user_update' user.username as account %}
<li class="{% active request account %}"><a href="{{ account }}">Account</a></li>
{% url 'user_password' user.username as password %}
{% if password %}
<li class="{% active request password %}"><a href="{{ password }}">Change Password</a></li>
{% endif %}
</ul>
<div class="row_fluid">
    <div class="span8 offset1">
        <div class="row-fluid">
        {% block settings_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
