{% extends "base.html" %}
{% load url from future %}

{% block page_subtitle %}{{ user }}{% endblock %}
{% load navbar %}
{% block content %}
<ul class="nav nav-tabs">
{% url 'userprofile_update' pk=user.userprofile.pk as profile %}
    <li class="{% active request profile %}"><a href="{{ profile }}">Profile</a></li>
{% url 'user_update' user.pk as account %}
<li class="{% active request account %}"><a href="{{ account }}">Account</a></li>
{% url 'user_password' user.pk as password %}
{% if password %}
<li class="{% active request password %}"><a href="{{ password }}">Change Password</a></li>
{% endif %}
{% url 'wall_update' user.pk as wall %}
<li class="{% active request wall %}"><a href="{{ wall }}">Edit Wall</a></li>
</ul>
<div class="row_fluid">
    <div class="span8 offset1">
        <div class="row-fluid">
        {% block settings_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
