{% extends "base.html" %}
{% load url from future %}
{% load disqus_tags %}
{% load age from codesters %}
{% load markup %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" title="Recent Snippets from {{ snippet.user.username }}-Rss" href="{% url 'user_snippet_rss' username=snippet.user.username %}" />
<link rel="alternate" type="application/atom+xml" title="Recent Snippets from {{ snippet.user.username }}-Atom" href="{% url 'user_snippet_atom' username=snippet.user.username %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2><a href="{% url 'user_snippets' snippet.user.username %}">{{ snippet.user }} Wall</a></h2>
        <hr />
    </div>
</div>
<article class="row">

<header class="col-12">
<h1>{{ snippet.title }}</h1>
<p><small>added {{ snippet.created_at|age }}</small>
{% ifequal user snippet.user %}
<a href="{% url 'snippet_update' username=snippet.user.username pk=snippet.pk %}" class="btn btn-small pull-right btn-primary"><i class="icon-edit"></i> Edit</a>
{% endifequal %}</p>
<ul class="nav nav-pills pull-right">
    <li class="disabled"><a href="#">Subscribe for Updates</a></li>
    <li><a href="{% url 'user_snippet_rss' username=snippet.user.username %}"><i class="icon-rss"></i> Rss</a></li>
    <li><a href="{% url 'user_snippet_atom' username=snippet.user.username %}"><i class="icon-rss-sign"></i> Atom</a></li>
</ul>
</header>

<section class="col-10 offset1 markdown-text">
{{ snippet.content|markdown:"safe" }}
{% include "snippets/share_this.html" %}
</section>

<footer class="col-10 offset1">
    {% disqus_show_comments %}
</footer>

</article>
{% endblock %}
