{% extends "base.html" %}
{% load url from future %}

{% load codesters %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h1><a href="{% url 'user_detail' snippet.user.username %}">{{ snippet.user }} Wall</a></h1>
        <hr />
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    <h2>{{ snippet.title }}</h2>
    <p><small>created {{ snippet.created_at|age }}</small></p>
    {% ifequal user snippet.user %}
    <a href="{% url 'snippet_update' pk=snippet.pk %}" class="btn btn-small pull-right btn-primary"><i class="icon-edit"></i> Edit Snippet</a>
    {% endifequal %}
    <p>{{ snippet.content|linebreaksbr }}</p>
    </div>
</div>
{% endblock %}
