{% extends "base.html" %}

{% block head_title %}{{ student.user }}{% endblock %}

{% block page_title %}{{ student.user }}{% endblock %}

{% block page_subtitle %}profile{% endblock %}

{% block content %}
<div class="span6 offset3">
    <h2>{{ student.user.get_full_name }}</h2>
    <p class="lead"><strong>BIO:</strong> {{ student.bio }}<br />
        {% if student.website %}<a href="{{ student.website }}">Website</a><br />{% endif %}
        {% if student.github_username %}<a href="http://github.com/{{ student.github_username }}">Github</a><br />{% endif %}
        {% if student.twitter_username %}<a href="http://twitter.com/{{ student.twitter_username }}">Twitter</a><br />{% endif %}
        <a href="{% url blog_detail username=student.user.username %}">Blog</a>
    </p>
</div>
{% endblock %}
