{% extends "profiles/base.html" %}
{% load url from future %}

{% load codesters %}
{% block profile_content %}
<div class="row-fluid">
    {% ifequal user userinfo %}
    <ul class="nav nav-pills">
        <li class="pull-right"><a href="#"><i class="icon-cloud"></i> Hidden Snipets</a></li>
        <li class="pull-right"><a href="{% url 'snippet_create' %}"><i class="icon-plus"></i> Add New Snippet</a></li>
    </ul>
    {% endifequal %}
    <div class="span12">
        {% for snippet in snippets %}
            <h3><a href="{% url 'snippet_detail' pk=snippet.pk %}">{{ snippet.title }}</a> <small>created {{ snippet.created_at|age }}</small></h3>
        {% empty %}
        <h3>Wall is empty</h3>
        {% endfor %}
        {% include "pagination.html" %}
    </div>
</div>
{% endblock %}
