{% extends "profiles/base.html" %}
{% load url from future %}

{% load codesters %}
{% block profile_content %}
<div class="row-fluid">
    {% ifequal user userinfo %}
    <ul class="nav nav-pills">
        <li class="pull-right"><a href="{% url 'project_create' userinfo.username %}"><i class="icon-plus"></i> Add new Project</a></li>
    </ul>
    {% endifequal %}
    <div class="span12">
        {% for project in projects %}
        <div class="row-fluid well user-project">
            <div class="span12">
                <h3>{{ project.title }}</h3>
                <p>
                    <a href="{{ project.url }}" class="btn">Project Website</a>
                    {% if project.source_url %}
                    <a href="{{ project.source_url }}" class="btn success">Source</a>
                    {% endif %}
                </p>
                <p>{{ project.description }}</p>
                {% ifequal user userinfo %}
                <a href="{% url 'project_update' username=userinfo.username pk=project.pk %}" class="btn"><i class="icon-pencil"></i> Edit</a>
                {% endifequal %}
            </div>
        </div>
        {% empty %}
        <p>No projects listed</p>
        {% endfor %}
        {% include "pagination.html" %}
    </div>
</div>
{% endblock %}
