{% extends "profiles/base.html" %}
{% load codesters %}
{% block profile_content %}
<div class="span12">
    {% for feed in feeds %}
    <div class="row-fluid">
        <div class="span12 feed feed-{{ feed.feed_type.color }}">
            <div class="row-fluid">
                <div class="span1 vote">
                    <a href="#"><img src="{{ STATIC_URL }}img/up.png" height="55px" width="30px" alt="thumbs up" class="img-circle" /></a>
                    <a href="#"><img src="{{ STATIC_URL }}img/down.png" height="55px" width="30px" alt="thumbs down" class="img-circle" /></a>
                </div>
                <div class="span11 feed-data">
                    <h3><a href="{% url feed_redirect pk=feed.id %}">{{ feed.title }}</a> <small>{{ feed.url|website }}</small></h3>
                    <p><small>submitted  {{ feed.created_on|age }} in 
                            <a href="{% url feed_type_list slug=feed.feed_type.slug %}">{{ feed.feed_type }}</a>
                    </small> </p>
                    <a href="{% url feed_detail pk=feed.id %}" class="btn btn-small"><i class="icon-comment"></i> Discuss - # comments</a> 
                    {% if user.is_staff or feed.created_by.user == user %}<a href="{% url feed_update pk=feed.id %}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include "pagination.html" %}
</div>
{% endblock %}
