{% extends "bare_base.html" %}
{% load url from future %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/wall.css" />
<style type="text/css">
    .screen-content {
        left: 0;
        z-index: 50;
    }
    .site-logo {
        top: 10px;
        left: 20px;
        z-index: 400;
    }
    a.codesters-icon:before {
        content: url('{{ STATIC_URL }}img/logo-48.png');
        color: #fff;
        float: left;
        position: relative;
    }
    @media (min-width: 980px){
        .site-logo {
            position: absolute;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="site-logo"><a href="{% url 'page_home' %}" title="Go Home" class="icon codesters-icon"> </a></div>
<div class="screen-content">
    <aside class="cover cover-user picker-target">
        <div class="cover-table">
            <div class="cover-row">
                <div class="cover-img" style="background-image:url('{{ STATIC_URL }}img/cover.jpg')"></div>
            </div>
            <div class="cover-row">
                <div class="cover-body">
                    <div class="cover-body-inner">
                        <span class="cover-avatar">
                            <img src="{{ STATIC_URL }}img/avatar.png" alt="Avatar" />
                        </span>
                        <h1 class="cover-title"><a href="{% url 'wall_detail' pk=wall.pk %}">{{ wall.title }}</a></h1>
                        <p class="cover-description">{{ wall.subtitle|default:"Not provided" }}</p>
                        <p class="wall-user">by <a href="{% url 'user_detail' pk=wall.user.id %}">{{ wall.user }}</a></p>
                        {% ifequal user wall.user %}
                        <div class="btn-group">
                            <a href="{% url 'snippet_create' %}" class="btn btn-small btn-primary"><i class="icon-plus"></i> Create New Snippet</a>
                            <a href="{% url 'wall_update' pk=user.pk %}" class="btn btn-small"><i class="icon-edit"></i> Edit Wall</a>
                        </div>
                        {% endifequal %}
                    </div>
                </div>
            </div>
        </div>
    </aside><!--/sidebar -->
    <section class="wrapper">
        {% block wall_content %}{% endblock %}
    </section>
</div>
{% endblock %}
