{% extends "walls/base.html" %}
{% load url from future %}

{% block page_title %}Wall{% endblock %}
{% block page_subtitle %}{{ wall.user.username }}{% endblock %}
{% load codesters %}

{% block wall_content %}
    <h2>{{ snippet.title }}</h2>
    <p><small>created {{ snippet.created_at|age }}</small></p>
    <a href="{% url 'snippet_update' pk=snippet.pk %}" class="btn btn-small pull-right btn-primary"><i class="icon-edit"></i> Edit Snippet</a>
    <p>{{ snippet.content|linebreaksbr }}</p>
{% endblock %}
