.marketing h1 {
    font-size: 54px;
}
.marketing h2 {
    font-size: 42px;
}

.marketing, .marketing h1, .marketing h2, .marketing h3 {
    color: #ffffff;
}

.market {
    font-size: 160px;
}

.marketing {
    padding: 70px 10px 60px;
}

.marketing p {
    text-align: center;
    font-size: 18px;
}

.marketing-1 {
    background-color: #9D261D;
}

.marketing-2 {
    background-color: #3F7EB0;
}

.marketing-3 {
    background-color: #2C323C;
}

.marketing-4 {
    background-color: #8aad3a;
}


.auth-form {
    margin-top: 20px;
}

.field-error {
    font-weight: bolder;
}

.profile-photo {
    height: 280px !important;
    padding: 10px;
}

.profile-photo img {
    min-height: 200px;
    max-height: 250px;
}

#user-info {
    min-height: 180px;
    margin-bottom: 20px;
}

.info-page {
    min-height: 380px !important;
    padding: 30px;
}

.info-page p, .info-page li {
    color: #444444;
    font-size: 18px;
    line-height: 1.4em;
}

.explore-box {
    padding: 10px;
    height: 300px;
}

.explore-box h3, .explore-box h4, .explore-box p {
    margin: 5px 0 3px;
}

.explore-box p {
    color: #999999;
}

.explore-box h3 {
    border-bottom: solid 1px #aaa;
}

.explore-box li {
    border-bottom: solid 1px #eee;
}

.logo {
    line-height: 50px;
    margin: 20px 0 0;
    vertical-align: middle;
    font-size: 24px;
}

.content {
    margin-top: 20px;
    min-height: 530px;
}

.navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.marketing {
    text-align: center;
}

.footer {
    padding: 30px 0 20px;
    background-color: #394050;
    color: #ffffff !important;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    border-radius: 4px 4px 4px 4px;
}

.footer ul li {
    display: inline;
    padding: 5px 5px;
    text-decoration: none;
}

.footer a {
    color: #ffffff;
}

.resource {
    margin: 0 0 15px 0;
    padding: 5px 12px;
    min-height: 100px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(221, 221, 221);
}

.vote {
    overflow: hidden;
    padding: 18px 0 8px;
}

.resource-data {
    padding-left: 15px;
}

.resource-green {
    border-left: solid 7px #46a546;
}

.resource-blue {
    border-left: solid 7px #049cdb;
}

.resource-red {
    border-left: solid 7px #9d261d;
}

.resource-yellow {
    border-left: solid 7px #ffc40d;
}

.resource-orange {
    border-left: solid 7px #f89406;
}

.resource-pink {
    border-left: solid 7px #c3325f;
}

.resource-purple {
    border-left: solid 7px #7a43b6;
}
