.navbar-inner {
    background-color: rgb(243, 243, 243);
    background-image: linear-gradient(rgb(249, 249, 249), rgb(243, 243, 243));
    background-repeat: repeat-x;
}

.explore-page {
    padding-right: 10px;
}

body {
    background-color: rgb(240, 240, 240);
    background: transparent;
    background: url('../img/codesters-bg.png');
}

.user-project {
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 0 !important;
}

.resource-help-text {
    height: 100px;
    overflow: hidden;
}

.search-result {
    margin-left: 2px !important;
    margin-bottom: 21px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.form-search .control-label {
    font-size: 18px;
    font-weight: 300%;
    margin: 10px 0;
}

.markdown-text {
    margin-bottom: 40px;
    padding: 10px;
}

.markdown-text h1 {
    font-size: 22px;
}

.markdown-text h2 {
    font-size: 20px;
}

.markdown-text h3 {
    font-size: 18px;
}

.markdown-text h4 {
    font-size: 16px;
}

#resource-buttons a {
    margin-bottom: 5px;
}

.navbar-inner {
    border-radius: 0;
}

#sidebar li.nav-header {
    font-size: 15px;
    margin-top: 9px;
}

#sidebar a.btn {
    border-radius: 0;
    margin-top: 0;
}

#resource-title h1 {
    font-size: 26px;
    line-height: 32px;
}

#resource-title a {
    color: rgb(63, 73, 68);
}

.resource h4 a {
    color: rgb(63, 73, 68);
}

.resource h4 a:hover {
    color: rgb(84, 144, 202);
}

#sidebar {
    background-color: #ffffff;
    margin-top: -10px;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}

#sidebar li {
    line-height: 18px;
}

.disclaimer {
    margin: 30px 10px;
}
.featured-resource h4 {
    font-size: 18px;
}
.featured-resource h4 a {
    color: rgb(63, 73, 68);
}
.featured-resource h4 a:hover {
    color: rgb(84, 144, 202);
}
.snippets h3 a {
    color: rgb(63, 73, 68);
}
.snippets h3 a:hover {
    color: rgb(84, 144, 202);
}

.thumbnails li.span4 {
    margin-left: 0;
    margin-right: 8px;
}

.message {
    margin-top: 15px;
}

.topic-about img {
    max-width: 320px;
}

.topic {
    height: 200px;
    border: 1px #aaa;
    margin-top: 30px;
    margin-left: 0 !important;
    margin-right: 20px;
    border: 1px solid rgb(153, 153, 153);
    border-top: 0;
    max-width: 280px;
    overflow: hidden;
}
.topic a {
    text-decoration: none;
}

.topic img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.topic-image {
    height: 169px;
}

.topic-name {
    min-height: 24px;
    background-color: rgb(81, 163, 81);
    background-image: linear-gradient(to bottom, rgb(98, 196, 98), rgb(81, 163, 81));
    background: url('../img/topic.png');
    padding: 3px 5px;
    color: white;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 20px;
}

.register-button {
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer-links {
    min-height: 20px;
    vertical-align: middle;
}

.footer-links a {
    color: #333;
}

.social-plugins {
    margin-top: 10px;
}

.addthis_toolbox {
    padding: 10px 0;
}
select[multiple] {
    height: 240px !important;
}

#all-resources-button {
    margin-top: 25px;
    margin-bottom: 20px;
}

#resource-description {
    margin: 15px 10px;
}

#resource-add-button {
    margin-top: -10px;
    border-radius: 0;
}

#level {
    width: 150px;
}

.well-small {
    padding: -5px;
}

.marketing h1 {
    font-size: 54px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.marketing-head p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.marketing h2 {
    font-size: 40px;
    padding: 30px 0;
}

.market {
    font-size: 160px;
}

.marketing {
    max-width: 768px;
    margin: auto;
}

.marketing-head {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.marketing li {
    text-align: left;
    font-size: 18px;
    margin-bottom: 7px;
}


.marketing p {
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
    max-width: 468;
}

.marketing-1 {
    background-color: #9D261D;
}

.marketing-2 {
    background-color: #3F7EB0;
}

.marketing-3 {
    background-color: #2C323C;
}

.marketing-4 {
    background-color: #8aad3a;
}


.auth-form {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
margin-top: 30px;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.auth-form .auth-form-heading,
.auth-form .checkbox {
margin-bottom: 10px;
text-align: center;
}
.auth-form input[type="text"],
.auth-form input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}


.field-error {
    font-weight: bolder;
}

.profile-sidebar {
    margin-left: -10px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.profile-photo {
    height: 280px !important;
    padding: 10px;
}

.profile-photo img {
    min-height: 200px;
    max-height: 250px;
}

#user-info {
    min-height: 180px;
    margin-bottom: 20px;
}

.info-page {
    min-height: 380px !important;
    padding: 30px;
}

.info-page p, .info-page li {
    color: #444444;
    font-size: 18px;
    line-height: 1.4em;
}

.explore-box p {
    color: #999999;
}

.explore-box li {
    margin-bottom: 13px;
}

.logo {
    line-height: 50px;
    margin: 20px 0 0;
    vertical-align: middle;
    font-size: 24px;
}

.content {
    margin-top: 20px;
    min-height: 530px;
    background-color: #ffffff;
    padding: 10px 0 0 10px;
}

.navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #666;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar .brand:hover {
    color: #888;
}

.home-share {
    margin-bottom: 10px;
}

.home-content {
  margin-bottom: 0;
  margin-top: -10px;
  margin-left: -10px !important;
  position: relative;
  padding: 40px 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #103648; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #103648 0%, #487284 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#103648), color-stop(100%,#487284)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #103648 0%,#487284 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #103648 0%,#487284 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #103648 0%,#487284 100%); /* IE10+ */
  background: linear-gradient(45deg,  #103648 0%,#487284 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103648', endColorstr='#487284',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

.mast-head {
  padding: 70px 0 40px;
  color: #fff;
}

.mast-head h1 {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -2px;
}
.mast-head p {
  font-size: 36px;
  font-weight: 200;
  line-height: 1.25;
}

.media {
    text-align: left;
    margin-bottom: 35px;
}

.media-heading {
    margin-bottom: 12px;
}

@media (max-width: 979px) {
  /* Unfloat brand */
  .navbar .brand {
      float: left;
      margin-left: 0;
      padding-right: 10px;
    }
    .content {
        padding-right: 10px;
    }
    .home-content {
      margin-right: -10px;
    }
    .mast-head h1 {
        font-size: 54px;
    }
    .mast-head p.lead {
        font-size: 18px;
        line-height: 24px;
        margin: 20px auto;
    }
}

@media (max-width: 767px) {
    #sidebar {
        margin-top: 50px;
    }
    .profile-sidebar {
        border: 0;
    }
    .navbar, .footer {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }
    .topic-images img {
        width: 120px;
        margin: auto;
    }
    .masthead {
        padding: 40px 0 20px;
    }
    .mast-head h1 {
        font-size: 42px;
    }
    .marketing h2 {
        font-size: 34px;
    }
    .mast-head p.lead {
        font-size: 16px;
        line-height: 24px;
        margin: 20px auto;
    }
    .marketing li {
        font-size: 16px;
    }
}

.footer {
    left: 0;
    right: 0;
    padding: 30px 10px 20px;
    background-color: rgb(240, 240, 240);
    border-bottom: none;
}

.footer ul li {
    display: inline;
    padding: 5px 5px;
}


.social-links a{
    text-decoration: none;
}

.resource {
    display: inline-block !important;
    margin-left: 0 !important;
    margin-right: 7px;
    min-height: 180px !important;
    background-color: rgb(251, 251, 251);
    padding: 15px 20px 5px 20px;
}

.vote {
    overflow: hidden;
    padding: 18px 0 8px;
}

.resource-green {
    border-left: solid 7px #46a546;
}

.resource-blue {
    border-left: solid 7px #049cdb;
}

.resource-red {
    border-left: solid 7px #9d261d;
}

.resource-yellow {
    border-left: solid 7px #ffc40d;
}

.resource-orange {
    border-left: solid 7px #f89406;
}

.resource-pink {
    border-left: solid 7px #c3325f;
}

.resource-purple {
    border-left: solid 7px #7a43b6;
}

.label-green {
    background-color: #46a546;
}

.label-blue {
    background-color: #049cdb;
}

.label-red {
    background-color: #9d261d;
}

.label-yellow {
    background-color: #ffc40d;
}

.label-orange {
    background-color: #f89406;
}

.label-pink {
    background-color: #c3325f;
}

.label-purple {
    background-color: #7a43b6;
}

.badge-green {
    background-color: #46a546;
}

.badge-blue {
    background-color: #049cdb;
}

.badge-red {
    background-color: #9d261d;
}

.badge-yellow {
    background-color: #ffc40d;
}

.badge-orange {
    background-color: #f89406;
}

.badge-pink {
    background-color: #c3325f;
}

.badge-purple {
    background-color: #7a43b6;
}
