h1, h2, h3, h4, h5, h6 {
    color: #555555;
}

h1 a, h2 a, h3 a {
    color: #034482;
}

.explore-box {
    padding: 10px;
    min-height: 300px;
}

.explore-box h3, .explore-box h4, .explore-box p {
    margin: 5px 0 3px;
}

.explore-box p {
    color: #999999;
}

.explore-box h3 {
    border-bottom: solid 1px #aaa;
}

.explore-box li {
    border-bottom: solid 1px #eee;
}

.logo {
    line-height: 50px;
    margin: 20px 0 0;
    vertical-align: middle;
    font-size: 24px;
}

.header {
    padding-top: 10px;
    margin-bottom: 20px;
    background: url("/static/img/header.png");
}

.header {
    background: url("/static/img/header.png");
}

.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    border-radius: 4px 4px 4px 4px;
}


.feed {
    margin: 0 0 15px 0;
    padding: 5px 12px;
    min-height: 100px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(221, 221, 221);
}

.vote {
    border-right: 2px solid rgb(221,221, 221);
    overflow: hidden;
}

.vote img {
    margin: 15px 0;
}

.feed-data {
    padding-left: 15px;
}

.feed-green {
    border-left: solid 7px #46a546;
}

.feed-blue {
    border-left: solid 7px #049cdb;
}

.feed-red {
    border-left: solid 7px #9d261d;
}

.feed-yellow {
    border-left: solid 7px #ffc40d;
}

.feed-orange {
    border-left: solid 7px #f89406;
}

.feed-pink {
    border-left: solid 7px #c3325f;
}

.feed-purple {
    border-left: solid 7px #7a43b6;
}
