{% extends "base.html" %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css" />
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span4 sidebar">
        <div class="row-fluid">
            <div class="span12 cover-photo">
                <img src="{{ STATIC_URL }}img/cover.jpeg" alt="codesters {{ user }} blog" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="span8 offset2">
                    <h1><a href="{% url blog_detail username=blog.user.username %}">{{ blog.title }}</a></h1>
                    <p class="lead">{{ blog.subtitle }}</p>
                    <a href="{% url student_detail pk=blog.user.id %}" class="btn btn-primary btn-block"><i class="icon-white icon-user"></i> {{ blog.user }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="span8">
        {% block blog_content %}{% endblock %}
    </div>
</div>
{% endblock %}
