{% extends "bare_base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css" />
<style type="text/css">
    .screen-content {
        left: 0;
        z-index: 50;
    }
    .site-logo {
        top: 10px;
        left: 20px;
        z-index: 400;
    }
    a.codesters-icon:before {
        content: url('{{ STATIC_URL }}img/logo-48.png');
        color: #fff;
        float: left;
        position: relative;
    }
    @media (min-width: 980px){
        .site-logo {
            position: absolute;
        }
    }
</style>
{% endblock %}

{% block body %}
<div class="site-logo"><a href="{% url page_home %}" title="Go Home" class="icon codesters-icon"> </a></div>
<div class="screen-content">
    <aside class="cover cover-user picker-target">
        <div class="cover-table">
            <div class="cover-row">
                <div class="cover-img" style="background-image:url('{{ STATIC_URL }}img/cover.jpg')"></div>
            </div>
            <div class="cover-row">
                <div class="cover-body">
                    <div class="cover-body-inner">
                        <span class="cover-avatar">
                            <img src="{{ STATIC_URL }}img/avatar.png" alt="Avatar" />
                        </span>
                        <h1 class="cover-title"><a href="{% url blog_detail pk=blog.pk %}">{{ blog.title }}</a></h1>
                        <p class="cover-description">{{ blog.subtitle|default:"Not provided" }}</p>
                        <p class="blog-user">by <a href="{% url user_detail pk=blog.user.id %}">{{ blog.user }}</a></p>
                        {% ifequal user blog.user %}
                        <div class="btn-group">
                            <a href="{% url entry_create %}" class="btn btn-small btn-primary">Create New Post</a>
                            <a href="{% url blog_update pk=user.blog.pk %}" class="btn btn-small">Edit Blog</a>
                        </div>
                        {% endifequal %}
                    </div>
                </div>
            </div>
        </div>
    </aside><!--/sidebar -->
    <section class="wrapper">
        {% block blog_content %}{% endblock %}
    </section>
</div>
{% endblock %}
