{% extends "bare_base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/blog.css" />
{% endblock %}

{% block body %}
<div class="screen-content">
    <aside class="cover cover-user picker-target">
        <div class="cover-table">
            <div class="cover-row">
                <div class="cover-img" style="background-image:url('{{ STATIC_URL }}img/cover.jpeg')"></div>
            </div>
            <div class="cover-row">
                <div class="cover-body">
                    <div class="cover-body-inner">
                        <span class="cover-avatar">
                            <img src="{{ STATIC_URL }}img/avatar.png" alt="Avatar" />
                        </span>
                        <h1 class="cover-title"><a href="{% url blog_detail username=blog.user.username %}">{{ blog.title }}</a></h1>
                        <p class="cover-description">{{ blog.subtitle }}</p>
                        <p class="blog-user">by <a href="{% url student_detail pk=blog.user.id %}">{{ blog.user }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </aside><!--/sidebar -->

    <section class="wrapper">
        {% block blog_content %}{% endblock %}
    </section>
</div>
{% endblock %}
