{% extends 'base_search.html' %}
{% load widget_tweaks %}
{% load age website from codesters %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <form class="form-search" method="get" action=".">
            {% for field in form %}
                <h3>{{ field.label }} : </h3>
                    {{ field }}
            {% endfor %}
        </form>
    </div>
    <div class="span9"> 
        {% if query %}
            <div class="page-header">
                <h2>Results</h2>
            </div>
        </ul>
            {% for result in page.object_list %}
                {% if result.object.resourse_type %}
                <li class="span6 thumbnail resource">
                    <span class="badge pull-right badge-{{ result.object.resource_type.color }}">{{ result.object.resource_type }}</span>
                    <h4><a href="{{ result.object.url }}">{{ result.object.title }}</a> <small> {{ result.object.url|website }} </small></h4>
                    <p><small>submitted  {{ result.object.created_at|age  }} by <a href="{{ result.object.created_by.get_absolute_url }}">{{ result.object.created_by }}</a> in 
                        {% for topic in result.object.topics.all %}
                            {% if not forloop.first %}, {% endif %}<a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
                        {% endfor %}</small>
                    </p>
                </li>
                {% else %}
                    <li class="span6 thumbnail resourse">
                        {% if result.object.updated_at %}
                        <span class="badge pull-right">Snippet</span>
                        <h4><a href="result.object.url ">{{ result.object.title }}</a>
                        <p><small> submitted {{ result.object.created_at|age }} by <a href="{{ result.object.user.get_absolute_url }}">{{ result.object.user }}</a></small></p>
                        {% else %}
                        <span class="badge pull-right">Project</span>
                        <h4><a href="result.object.url ">{{ result.object.title }}</a>
                        <p><small> submitted {{ result.object.created_at|age }} by <a href="{{ result.object.user.get_absolute_url }}">{{ result.object.user }}</a></small></p>
                        {% endif%}
                    </li>
                {% endif %}
                <hr style="margin:9px 0"/>
            <p>{{ result.object.help_text }} <a href="{{ result.object.get_absolute_url }}">... More</a></p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        </ul>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </div>
</div>
{% endblock %}
