{% load active from codesters %}

    <a class="btn btn-danger btn-block" title="Add new resource that you want to share" href="{% url 'resource_create' %}"><i class="icon-plus"></i> Add New Resource</a>
    {% if user.is_staff %}
    <a href="{% url 'topic_create' %}" class="btn btn-block"><i class="icon-reorder"></i> Add New Topic</a>
    {% endif %}
<ul class="nav nav-list">
    <li class="nav-header">Topics</li>
    {% for topic in topics %}
    <li class="{% active request.path topic.get_absolute_url %}"><a title="{{ topic.help_text }}" href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
    {% endfor %}
</ul>
