{% extends "base.html" %}
{% load url from future %}
{% load active from codesters %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-pills">
            {% block back_button %}
            {% endblock %}
            {% url 'resource_create' as create_tab %}
            <li class="pull-right {% active request.path create_tab %}"><a href="{{ create_tab }}"><i class="icon-plus"></i> Add New Resource</a></li>
        </ul>
    </div>
</div><!-- /subnavbar row-fluid -->
<div class="row-fluid">
    <div class="container">{% block resource_content %}{% endblock %}</div>
</div>
{% endblock %}
