{% extends "base.html" %}
{% load url from future %}
{% load active from codesters %}

{% block content %}
<div class="row-fluid">
    <div class="container">
        {% block resource_page %}
        <div class="row-fluid">
            <div class="span3 well">{% include "resources/topics.html" %}</div>
            <div class="span9">
                <div class="row-fluid well well-small">
                    <h1>{% block resource_heading %}{{ headline }}{% endblock %}</h1>
                </div>
                {% block resource_content %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
