{% extends "resources/base.html" %}
{% load url from future %}
{% load age issaved from codesters %}
{% load disqus_tags %}
{% load markup %}

{% block meta_description %}{{ resource.help_text }} - {{ resource.resource_type }} submitted by {{ resource.created_by }}{% endblock %}

{% block resource_heading %}{{ resource.title }}{% endblock %}

{% block resource_content %}
<div class="btn-toolbar" id="resource-buttons">
    <div class="btn-group">
    <a href="{{ resource.url }}" class="btn btn-small btn-info"><i class="icon-link"></i> Open Webpage</a>
    </div>

    {% if user.is_authenticated %}

    <div class="btn-group">
        <a href="{% url 'resource_save' pk=resource.pk %}" title="Save this resource to your profile" class="btn btn-small btn-default {% if resource|issaved:user %}disabled{% endif %}"><i class="icon-save"></i> {% if resource|issaved:user %}Saved{% else %}Save{% endif %}</a>
        {% ifequal resource.created_by user%}
        <a href="{% url 'resource_update' pk=resource.id %}" class="btn btn-small btn-default"><i class="icon-edit"></i> Edit</a>
        {% endifequal %}
    </div>
        {% include "resources/rating.html" %}
    {% else %}
    <div class="btn-group">
    <a href="{% url 'auth_login' %}?next={% url 'resource_detail' pk=resource.pk %}" class="btn btn-warning btn-small"><i class="icon-info"></i> Login to rate or save this resource</a>
    </div>
    {% endif %}

</div>

<div class="row">
{% include "snippets/share_this.html" %}
</div>

<div class="row">
    <div class="col-8 offset2">
        <table class="table table-bordered table-stripped">
            <tbody> {% with approval=resource.rating.get_real_percent %}
                <tr class="{% if approval >= 60 %}success{% endif %}">
                    <td>User Approval Rate</td> <td>{{ approval|floatformat }}%</td>
                </tr>{% endwith %}
                <tr>
                    <td>Resource Type</td> <td>{{ resource.resource_type }}</td>
                </tr>
                <tr>
                    <td>Topics</td>
                    <td>
                        {% for topic in resource.topics.all %}
                        {% if not forloop.first %}, {% endif %}<a href="{% url 'resource_topic_home' slug=topic.slug %}" class="">{{ topic.name }}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Submitted by</td>
                    <td><a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></td>
                </tr>
                <tr>
                    <td>Date Submitted</td> <td>{{ resource.created_at|date:"D d M Y"  }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if resource.description %}
<div class="row markdown-text" id="resource-description">
{{ resource.description|markdown:"safe" }}
</div>
{% endif %}
<div class="row">
        {% disqus_show_comments %}
</div>
{% endblock %}
