{% extends "resources/base.html" %}
{% load url from future %}
{% load check_active from codesters %}
{% block resource_content %}
    <div class="row resource-buttons">
        <div class="col-12">
        {% include "resources/resource_type_nav.html" %}
        </div>
    </div>

    <div class="row">
        {% for resource in resources %}
            {% include "resources/single_resource_snippet.html" %}
        {% empty %}
            <div class="col-12">
                <p class="lead">Sorry, there are no resources here. Why don't you <a href="{% url 'resource_create' %}">add something here. </a></p>
            </div>
        {% endfor %}
    </div>

{% include "pagination.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        var maxHeight = 0;
        $('.thumbnail').each(function(){ 
            if($(this).height() > maxHeight) { 
                maxHeight = $(this).height(); 
            }
            });
        $('.thumbnail').height(maxHeight);
    });
</script>
{% endblock %}
