{% extends "resources/base.html" %}
{% load url from future %}

{% block head_title %}Resources{% endblock %}

{% block resource_page %}
<div class="row-fluid">
    <div class="span12 explore-box">
        <h3>Select a Topic to start learning</h3>
            {% for topic in topics %}
            <div class="span2">
                {% if topic.thumbnail %}<img src="{{ topic.thumbnail.url }}" alt="{{ topic.name }}" />{% endif %}
                <a title="{{ topic.help_text }}" href="{{ topic.get_absolute_url }}">
                    <div class="span12 topic">
                        <h4>{{  topic.name }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
    </div>
</div>
<div class="row-fluid">
    <div class="span5 explore-box">
        <h3>Popular Resources</h3>
        <ol class="explore-list unstyled">
            {% for resource in popular_resources %}
            <li>
                <h4><a title="{{ resource.help_text }}" href="{{ resource.get_absolute_url }}">{{ resource.title }}</a> <small>({{ resource.resource_type }})</a> by <a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></small></h4>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="span5 explore-box">
        <h3>Recent Resources</h3>
        <ol class="explore-list unstyled">
            {% for resource in recent_resources %}
            <li>
                <h4><a title="{{ resource.help_text }}" href="{{ resource.get_absolute_url }}">{{ resource.title }}</a> <small>({{ resource.resource_type }})</a> by <a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></small></h4>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
