{% extends "resources/base.html" %}
{% load url from future %}
{% block meta_description %}{{ resource.help_text }} - {{ resource.resource_type }} submitted by {{ resource.created_by }}{% endblock %}
{% load age from codesters %}
{% block resource_content %}
<div class="row-fluid">
    <div class="span9">
        <div class="row-fluid">
            <h1><a href="{{ resource.url }}">{{ resource.title }}</a></h1>
                <p><small>submitted {{ resource.created_at|age }} by 
                        <a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a> in 
                        <a href="{% url 'resource_list' slug=resource.resource_type.slug %}">{{ resource.resource_type }}</a>
                    </small></p>
                    <a href="{% url 'resource_save' pk=resource.pk %}" class="btn btn-small {% if already_saved %}disabled{% endif %}"><i class="icon-save"></i> {% if already_saved %}Saved{% else %}Save{% endif %}</a>
        </div>
        {% if resource.description %}
        <div class="row-fluid">
                <p>{{ resource.description }}</p>
        </div>
        {% endif %}
        <div class="row-fluid">
                <h3>Comments</h3>
                <p>Coming Soon ...</p>
        </div>
    </div>
    <div class="span3 well">{% include "resources/topics.html" %}</div>
</div>
{% endblock %}
