{% load url from future %}
    <ul class="nav nav-pills">
        <li><a href="{% url 'resource_topic_list_all' slug=current_topic.slug %}">All</a></li>
        <li><a href="{% url 'resource_topic_list' slug=current_topic.slug res_type="book" %}">Books</a></li>
        <li><a href="{% url 'resource_topic_list' slug=current_topic.slug res_type="ebook" %}">Ebooks</a></li>
        <li><a href="{% url 'resource_topic_list' slug=current_topic.slug res_type="tutorial" %}">Tutorials</a></li>
        <li><a href="{% url 'resource_topic_list' slug=current_topic.slug res_type="online" %}">Online Courses</a></li>
        <li><a href="{% url 'resource_topic_list' slug=current_topic.slug res_type="offline" %}">Offline Course</a></li>
        <li><a href="{% url 'resource_topic_list' slug=current_topic.slug res_type="documentation" %}">Documentation</a></li>
    </ul>
