{% extends "resources/base.html" %}
{% load url from future %}
{% load check_active from codesters %}
{% block resource_content %}
    <div class="row-fluid resource-buttons">
        <div class="span10">
        {% include "resources/resource_type_nav.html" %}
        </div>
        <div class="span2">
            Level
            <select id="level" name="Level" onchange="window.open(this.options[this.selectedIndex].value, '_top', '_self')">
                <option value="?level=all" {% check_active request.get_full_path 'all' %}>All</option>
                <option value="?level=beginner" {% check_active request.get_full_path 'beginner' %}>Beginner</option>
                <option value="?level=intermediate" {% check_active request.get_full_path 'intermediate' %}>Intermediate</option>
                <option value="?level=advanced" {% check_active request.get_full_path 'advanced' %}>Advanced</option>
            </select>
        </div>
    </div>

    <div class="row-fluid">
        <ul class="thumbnails">
        {% for resource in resources %}
            {% include "resources/single_resource_snippet.html" %}
        {% empty %}
            <div class="span12">
                <p class="lead">Sorry, there are no resources here. Why don't you <a href="{% url 'resource_create' %}">add something here. </a></p>
            </div>
        {% endfor %}
        </ul>
    </div>

{% include "pagination.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        var maxHeight = 0;
        $('.thumbnail').each(function(){ 
            if($(this).height() > maxHeight) { 
                maxHeight = $(this).height(); 
            }
            });
        $('.thumbnail').height(maxHeight);
    });
</script>
{% endblock %}
