{% load url from future %}
{% load age website issaved from codesters %}

    <div class="row-fluid">
        <div class="span12 resource resource-{{ resource.resource_type.color }}">
            <h3><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a> <small>{{ resource.url|website }}</small></h3>
            <p><small>submitted  {{ resource.created_at|age  }} by <a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a>
                            in 
                        </small>{{ resource.level|capfirst }} level
                    </p>
                    <a href="{{ resource.url }}" class="btn btn-info btn-small"><i class="icon-link"></i> Open Webpage</a> 

                    {% if user.is_authenticated %}
                    <a href="{% url 'resource_save' pk=resource.pk %}" title="Save this resource to your profile" class="btn btn-small {% if resource|issaved:user %}disabled{% endif %}"><i class="icon-save"></i> {% if resource|issaved:user %}Saved{% else %}Save{% endif %}</a>

                    {% include "resources/rating.html" %}

                    {% ifequal resource.created_by user %}<a href="{% url 'resource_update' pk=resource.id %}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>{% endifequal %}
                    {% endif %}
        </div>
    </div>
