{% extends "resources/base.html" %}
{% load url from future %}
{% load age website active check_active from codesters %}

{% block meta_description %}{{ current_topic.description|slice:":200" }}{% endblock %}
{% block resource_content %}
    {% if current_topic.description %}
    <div class="row-fluid topic-about">
        {{ current_topic.description|linebreaks }}
        <p class="muted"><br />NOTE: Above information has been taken from wikipedia and/or official websites of topics.</p>
    </div>
    {% endif %}

    <div class="row-fluid">
        <h3>Featured Resources</h3>
        <ul class="thumbnails">
            {% for k,v in resourcetypes.items %}
            <li class="span4">
                <div class="thumbnail featured-resource topic-{{ v.resource_type.color }}">
                    <img src="{{ STATIC_URL }}img/{{ k }}.png" alt="{{ k }}" height=200px width=300px title="{{ k }}" />
                    <h4><a href="{{ v.get_absolute_url }}">{{ v.title }}</a></h4>
                    <p>{{ v.help_text|slice:":100" }}...</p>
                    <a href="{% url 'resource_topic_list' slug=current_topic.slug res_type=k %}" class="btn btn-primary">More {{ v.resource_type }}s <i class="icon-caret-right"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="row-fluid" id="all-resources-button">
            <div class="span5 offset4">
                <a href="{% url 'resource_topic_list_all' slug=current_topic.slug %}" class="btn btn-large btn-success">Browse all {{ current_topic.name }} resources <i class="icon-double-angle-right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
