{% extends "resources/base.html" %}
{% load url from future %}
{% load isfollow from codesters %}

{% block meta_description %}{{ current_topic.description|slice:":200" }}{% endblock %}
{% block resource_content %}

<div class="row-fluid">
        {% if user.is_authenticated %}
        <a href="{% url 'topic_follow' slug=current_topic.slug %}" class="btn btn-info btn-small pull-right" title="{% if current_topic|isfollow:user %}You are already following this topic. Click to unfollow{% else %}Click to follow this topic and get updates on your profile{% endif %}">{% if current_topic|isfollow:user %}<i class="icon-heart-empty"></i> Unfollow{% else %}<i class="icon-heart"></i> Follow this Topic{% endif %}</a>
        {% endif %}
    {% include "snippets/share_this.html" %}
</div>

    {% if current_topic.description %}
    <div class="row-fluid topic-about">
        <h3>About {{ current_topic.name }}</h3>
        {% if current_topic.thumbnail %}
            <img src="{{ current_topic.thumbnail.url }}" alt="{{ current_topic.name }} logo" class="pull-right" />
        {% endif %}
        {{ current_topic.description|linebreaks }}
        <p class="muted"><br />NOTE: Above information has been taken from wikipedia and/or official websites of topics.</p>
    </div>
    {% endif %}

    <div class="row-fluid">
        <h3>Featured Resources</h3>
        <ul class="thumbnails">
            {% for k,v in resourcetypes.items %}
            <li class="span4">
                <div class="thumbnail featured-resource">
                    <a href="{{ v.get_absolute_url }}"><img src="{{ STATIC_URL }}img/{{ k }}.png" alt="{{ k }}" height=200px width=300px title="{{ k }}" /></a>
                    <h4><a href="{{ v.get_absolute_url }}">{{ v.title }}</a></h4>
                    <p>{{ v.help_text|slice:":100" }}...</p>
                    <a href="{% url 'resource_topic_list' slug=current_topic.slug res_type=k %}" class="btn btn-warning">More {{ v.resource_type }}s <i class="icon-caret-right"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="row-fluid" id="all-resources-button">
            <div class="span5 offset4">
                <a href="{% url 'resource_topic_list_all' slug=current_topic.slug %}" class="btn btn-large btn-success">Browse all {{ current_topic.name }} resources <i class="icon-double-angle-right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).load(function() {
        var maxHeight = 0;
        $('.thumbnail').each(function(){ 
            if($(this).height() > maxHeight) { 
                maxHeight = $(this).height(); 
            }
            });
        $('.thumbnail').height(maxHeight);
    });
</script>
{% endblock %}
