{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="span9 info-page">
<h3>What is Codesters ?</h3>
<p>
This is what happens to everyone one of us when we want to learn coding.
While exploring more about the subject we find that we have so many programming languages and tools to learn.
After we start diving more deeper into the fascinating world of coding we hesitate to step forward and make choices.
</p>
<p>
This is where Codesters come into play. 
</p>
<ul>
  <li>
     We provide aspiring hackers and coders with the best resources over the web.
  </li>
  <li>
    People will get a better insight about what is to learn and how it can be learned.
  </li>
  <li>
    From where we get these resources ? - from people like you ! Yes, we expect that through this site one can share their experiences.
  </li>
  <li>
    Being a <b>Community driven</b> site, we hope that people can bank on us.
  </li>
<ul>
</p>
</div>
{% endblock %}
