{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="span9 info-page">
    <h3>About Us</h3>
    <p class="lead">We have actually made this website for us. We want to learn new things related to Computer Science. But what happens everytime is we waste much of our time in finding good resources to learn from.</p>
    <p class="lead">This website aims to become a public library cum recommendation hub for learning. You want to learn programming or any computer science topic. Search it in topics and you are good to go.</p>
    <a href="{% url 'registration_register' %}" class="btn btn-large btn-danger">Get Started <i class="icon-double-angle-right"></i></a>
<hr />
<h3>How we do it?</h3>
<p>
    We collect content across the web and submit it here. There is no crawler doing this. We hand picked these resources from our bookmarks and recommendations given by many people.
</p>
<p>
    Then some initial rating is calculated and listed in the <a href="{% url 'resource_home' %}">Resources Section</a> under the appropriate category and topic. You can view resources according to their popularity and recent-ness.
</p>
<p>
    Also each Topic has its own page explaining what it is and how it is used in real world. This gives only beginners a view about the topic and they can decide if they want to learn it or not. We are working on making this crowdsourced so that experts in the field can make it even better.
</p>
<p>
    We are also working on forum(also evaluating hosted option) so that learners can ask questions easily. Even silly questions that get tagged unappropriate in <a href="http://stackoverflow.com">Stack Overflow</a> are welcome. For more Check out <a href="{% url 'page_guidelines' %}">Guidelines Section</a> to get a knowledge of functioning and our expectation from you.
</p>
<hr />
<h3>I am a programmer</h3>
<p>Share your knowledge, add resources which you think can help any person wanting to learn programming. If you are familier with <a href="http://djangoproject.com">Django</a>, you can help us develop this project.</p>
<a href="http://github.com/codesters/codesters/" class="btn btn-info"><i class="icon-github"></i> Codesters on Github</a>
</div>
{% endblock %}
