{% extends "bare_base.html" %}
{% load url from future %}

{% block body %}
<div class="header">
        <div class="heading container">
            <h1 id="page-title"><img src="{{ STATIC_URL }}img/logo-48.png" alt="Codesters Project"> {% block page_title %}Codesters{% endblock %} <small id="page-subtitle">{% block page_subtitle %}{% endblock %}</small></h1>
        </div>
        {% include "navbar.html" %}
</div><!--/.header -->
<div class="content container">
    {% block content %}{% endblock %}
</div><!--/.content -->
<div class="footer">
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="{% url 'page_about' %}">About</a></li>
            <li><a href="{% url 'page_contact' %}">Contact</a></li>
            <li><a href="{% url 'page_team' %}">Team</a></li>
            <li><a href="{% url 'page_guidelines' %}">Guidelines</a></li>
        </ul>
    </div>
</div>
{% endblock %}
