{% extends "bare_base.html" %}
{% load url from future %}

{% block body %}
{% include "navbar.html" %}

<header style="background-image: url('{{ STATIC_URL }}img/header-light.png')">
    <div class="container">
        <div class="page-header">
            <h1>{% block page_title %}Codesters{% endblock %} <small id="page-subtitle">{% block page_subtitle %}{% endblock %}</small></h1>
        </div>
    </div>
</header><!--/.header -->
<div class="content container">
    {% block content %}{% endblock %}
</div><!--/.content -->
<div style="background-image: url('{{ STATIC_URL }}img/header-light.png')" class="footer">
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="{% url 'page_about' %}">About</a></li>
            <li><a href="{% url 'page_contact' %}">Contact</a></li>
            <li><a href="{% url 'page_team' %}">Team</a></li>
            <li><a href="{% url 'page_guidelines' %}">Guidelines</a></li>
        </ul>
    </div>

{% endblock %}
