{% extends "base.html" %}
{% load url from future %}

{% block head_title %}Explore{% endblock %}
{% block page_title %}Explore{% endblock %}
{% block page_subtitle %}codesters project{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span5 explore-box">
        <h3>Recent Snippets</h3>
        <ol class="explore-list unstyled">
            {% for snippet in snippet_list %}
            <li>
                <h4><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> <small><a href="{{ snippet.wall.get_absolute_url }}">{{ snippet.wall }}</a> by <a href="{{ snippet.wall.user.get_absolute_url }}">{{ snippet.wall.user }}</a></small></h4>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="span5 offset1 explore-box">
        <h3>Recent Projects</h3>
        <ol class="explore-list unstyled">
            <li>
                <h4>Coming Soon</h4>
            </li>
        </ol>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 explore-box">
        <h3>Popular Walls</h3>
        <ol class="explore-list unstyled">
            {% for wall in walls %}
            <li>
                <h4><a href="{{ wall.get_absolute_url }}">{{ wall.title }}</a> <small>by <a href="{{ wall.user.get_absolute_url }}">{{ wall.user }}</a></small></h4>
                <p>{{ wall.subtitle }}</p>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="span5 offset1 explore-box">
        <h3>Popular Users</h3>
        <ol class="explore-list unstyled">
            {% for person in users %}
            <li>
                <a href="{% url 'user_detail' pk=person.id %}">{{ person }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
