{% load widget_tweaks %}
    {% csrf_token %}
    {% if form.non_field_errorr %}
        {% for non_field_error in form.non_field_error %}
            <div class="alert alert-error">
                <button class="close" type="button" data-dismiss="alert">&times;</button>
                {{ non_field_error }}
            </div>
        {% endfor %}
    {% endif %}

    {% for field in form.hidden_fields  %}
        {{ field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}{% if field.field.required %}*{% endif %} </label>
            <div class="controls">
                {% ifequal field|widget_type "textarea" %}
                    {{ field|add_class:"input-block-level" }}
                {% else %}
                    {{ field|add_class:"span4" }}
                {% endifequal %}

                {% if field.errors %} {% for error in field.errors %}
                    <span class="help-inline field-error">{{ error }}</span>
                {% endfor %} {% endif %}
                {% if field.help_text %}<span class="help-block">{{ field.help_text|safe }} </span>{% endif %}
            </div>
        </div>
    {% endfor %}

        <button class="btn btn-primary" type="submit"><i class="icon-save"></i> Save</button>
