{% extends "base.html" %}
{% load url from future %}

{% block extra_head %}
<style type="text/css">
    .navbar {
        margin-bottom: -20px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row-fluid marketing marketing-head">
    <h1>Hub to learn Programming</h1>
    <p class="lead">Want to learn programming, but wasted a lot of time in finding the right resource to learn from?<br /> We have the best resources available on web for learning any computer science topic.</p>
</div>
<div class="row-fluid marketing">
    <h3>Find:</h3>
    <ul class="lead">
        <li>free online courses provided by websites like Coursera, Udacity and EDx.</li>
        <li>free courses from top universities like MIT, Harvard, Stanford and IITs.</li>
        <li>help tutorials and videos made by experts in niche topics.</li>
        <li>and lots of official documentation.</li>
    </ul>
</div>
<div class="row-fluid marketing marketing-head">
    <h3>Most popular Topics:</h3>
    <div class="row-fluid">
        <ul class="thumbnails">
            <li class="span2"><a href="{% url 'resource_topic_home' slug='c' %}"><img src="" alt="C" /></a></li>
            <li class="span2"><a href="{% url 'resource_topic_home' slug='java' %}"><img src="" alt="Java" /></a></li>
            <li class="span2"><a href="{% url 'resource_topic_home' slug='python' %}"><img src="" alt="Python" /></a></li>
            <li class="span2"><a href="{% url 'resource_topic_home' slug='django' %}"><img src="" alt="Django" /></a></li>
            <li class="span2"><a href="{% url 'resource_topic_home' slug='linux' %}"><img src="" alt="Linux" /></a></li>
            <li class="span2"><a href="{% url 'resource_topic_home' slug='php' %}"><img src="" alt="PHP" /></a></li>
        </ul>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'page_about' %}" class="btn btn-primary btn-large"> Learn More <i class="icon-double-angle-right"></i></a> 
    {% else %}
    <a href="{% url 'registration_register' %}" class="btn btn-primary btn-large"> Start learning Now <i class="icon-double-angle-right"></i></a> 
    {% endif %}
</div>
<!--
<div class="row-fluid marketing marketing-2">
    <h2>We do 3 things for you...</h2>
    <hr />
    <div class="row-fluid">
        <div class="span4">
            <i class="icon-pushpin icon-4x market"></i>
              <h3>Best Resources</h3>
              <p>Learn from the resources recommended by people who know things. We have hand picked every one of the resource for you.</p>
              <p><a class="btn" href="{% url 'page_about' %}#tracks">How its done <i class="icon-double-angle-right"></i></a></p>
        </div>
        <div class="span4">
            <i class="icon-group icon-4x market"></i>
              <h3>Peer Help</h3>
              <p>Seek help and guidance from other people, fellow learners or experts. Here people are always ready to help.</p>
              <p><a class="btn" href="{% url 'page_about' %}#help">How to seek help <i class="icon-double-angle-right"></i></a></p>
        </div>
        <div class="span4">
            <i class="icon-comments icon-4x market"></i>
              <h3>Build your Social circle</h3>
              <p>Got a trick to share? or any project you wanna talk about? Share any of these with others on your wall. And look at what other people are pursuing.</p>
              <p><a class="btn" href="{% url 'page_about' %}#walls">Learn More <i class="icon-double-angle-right"></i></a></p>
        </div>
    </div>
</div>
<div class="row-fluid marketing marketing-3">
    <h2>More coming soon...</h2>
    <hr />
    <div class="row-fluid">
        <div class="span6">
            <i class="icon-tasks icon-4x market"></i>
              <h3>Tracks</h3>
              <p>Want to specialize in an area but do not know where to go next? Tracks will cover pre-defined formats to become a professional in any area.</p>
              <p><a class="btn" href="{% url 'page_about' %}#tracks">How it will be done <i class="icon-double-angle-right"></i></a></p>
        </div>
        <div class="span6">
            <i class="icon-desktop icon-4x market"></i>
              <h3>Explore</h3>
              <p>You can have a look at what is hot in the market, which technology is in demand and a lot more.</p>
              <p><a class="btn" href="{% url 'page_about' %}#feeds">How to seek help <i class="icon-double-angle-right"></i></a></p>
        </div>
    </div>
</div>
<div class="row-fluid marketing marketing-4">
    <h2>Interested?</h2>
    <hr />
    <div class="span4 offset4">
        <a href="{% url 'page_about' %}" class="btn btn-large">Learn More</a>
        {% if not user.is_authenticated %}
        <a href="{% url 'registration_register' %}" class="btn btn-primary btn-large"> Get Started <i class="icon-double-angle-right"></i></a> 
        {% endif %}
    </div>
</div>
--!>
{% endblock %}

