{% load url from future %}

{% load navbar %}
<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="brand hidden-desktop">codesters</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="{% active request "^/$" %}"><a href="{% url 'page_home' %}"><i class="icon-home"></i> Home</a></li>
                    <li class="{% active request "^/resource/" %}"><a href="{% url 'resource_home' %}"><i class="icon-pushpin"></i> Resources</a></li>
                    <li class="{% active request "^/track/" %}"><a href="{% url 'track_list' %}"><i class="icon-tasks"></i> Tracks</a></li>
                    <li class="{% active request "^/explore/" %}"><a href="{% url 'explore_home' %}"><i class="icon-globe"></i> Explore</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/admin/"><i class="icon-dashboard"></i> Admin</a></li>
                    <li class="dropdown {% active request '^/profile/' %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{ user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'my_resources' %}"><i class="icon-pushpin"></i> My Shared Resources</a></li>
                            <li><a href="{% url 'my_wall' %}"><i class="icon-folder-close"></i> My Wall</a></li>
                            <li><a href="{% url 'my_tracks' %}"><i class="icon-tasks"></i> My tracks</a></li>
                            <li><a href="{% url 'my_projects' %}"><i class="icon-briefcase"></i> My Projects</a></li>
                            <li><a href="{% url 'my_profile' %}"><i class="icon-picture"></i> My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'my_settings' %}"><i class="icon-wrench"></i> Settings</a></li>
                            <li><a href="{% url 'auth_logout' %}"><i class="icon-signout"></i> Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                            <li class="{% active request "^/accounts/login/$" %}"><a href="{% url 'auth_login' %}"><i class="icon-signin"></i> Login</a></li>
                            <li class="{% active request "^/accounts/register/$" %}"><a href="{% url 'registration_register' %}"><i class="icon-unlock"></i> Register</a></li>
                    {% endif %}
                </ul>
                <form method="post" action="/search/" class="navbar-form pull-right">
                    {% csrf_token %}
                    <input type="text" class="search-query" placeholder="Search">
                </form>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--/.navbar-inner -->
</div><!--/.navbar -->
