{% load url from future %}
{% load active from codesters %}

<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="brand"><img src="{{ STATIC_URL }}img/codesters-transparent.png" alt="Codesters"></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="{% active request.path "^/$" %}"><a href="{% url 'page_home' %}"><i class="icon-home"></i> Home</a></li>
                    <li class="{% active request.path "^/resource/" %}"><a href="{% url 'resource_home' %}"><i class="icon-pushpin"></i> Resources</a></li>
                    <li class="{% active request.path "^/explore/" %}"><a href="{% url 'explore_home' %}"><i class="icon-globe"></i> Explore</a></li>
                    {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li><a href="/admin/"><i class="icon-dashboard"></i> Admin</a></li>
                    {% endif %}
                    <li class="dropdown {% active request.path '^/profile/' %}"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{ user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'my_resources' %}"><i class="icon-pushpin"></i> My Shared Resources</a></li>
                            <li><a href="{% url 'my_profile' %}"><i class="icon-picture"></i> My Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'userprofile_update' %}"><i class="icon-wrench"></i> Settings</a></li>
                            <li><a href="{% url 'auth_logout' %}"><i class="icon-signout"></i> Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li class="{% active request.path "^/accounts/login/$" %}"><a href="{% url 'auth_login' %}"><i class="icon-signin"></i> Login</a></li>
                        <li class="{% active request.path "^/accounts/register/$" %}"><a href="{% url 'registration_register' %}"><i class="icon-unlock"></i> Register</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--/.navbar-inner -->
</div><!--/.navbar -->
