{% if is_paginated %}
    <div class="row-fluid">
        <ul class="pager">
            {% if page_obj.has_previous %}
            <li class="previous">
                <a href="?page={{ page_obj.previous_page_number }}">&larr; previous</a>
            </li>
            {% else %}
            <li class="previous disabled">
                <a href="#">&larr; previous</a>
            </li>
            {% endif %}
            <li>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} 
            </li>
            {% if page_obj.has_next %}
            <li class="next">
                <a href="?page={{ page_obj.next_page_number }}">next &rarr;</a>
            </li>
            {% else %}
            <li class="next disabled">
                <a href="#">next &rarr;</a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
