{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="row-fluid">
    <div class="span7 offset2 explore-box">
        <h3>Most Active Users</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Resources Submitted</th>
                </tr>
            </thead>
            <tbody>
            {% for user in active_users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ user.get_absolute_url }}">@{{ user.username }}</a></td>
                    <td>{{ user.no_of_resources }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 explore-box">
        <h3>Popular Topics <small>(<a href="{% url 'explore_all_topics' %}">Browse all</a>)</small></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Topic</th>
                </tr>
            </thead>
            <tbody>
            {% for topic in popular_topics %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span5 explore-box">
        <h3>Popular Domains <small>(<a href="{% url 'explore_all_domains' %}">Browse all</a>)</small></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Domain name</th>
                    <th>Resources Submitted</th>
                </tr>
            </thead>
            <tbody>
            {% for domain, count in popular_domains %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="http://{{ domain }}">{{ domain }}</a></td>
                    <td> {{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span5 explore-box">
        <h3>Popular Resources</h3>
        <ol class="explore-list unstyled">
            {% for resource in popular_resources %}
            <li>
                <p><a title="{{ resource.help_text|slice:":120" }}" href="{{ resource.url }}">{{ resource.title }}</a> <small>({{ resource.resource_type }})</a> by <a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></small></p>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="span5 explore-box">
        <h3>Recent Resources</h3>
        <ol class="explore-list unstyled">
            {% for resource in recent_resources %}
            <li>
                <p><a title="{{ resource.help_text|slice:":120" }}" href="{{ resource.url }}">{{ resource.title }}</a> <small>({{ resource.resource_type }})</a> by <a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></small></p>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
