{% extends "explore/base.html" %}
{% load url from future %}

{% block explore_content %}
<div class="row-fluid">
    <h1>Explore</h1>
    <p>Check out various interesting figures around codesters community</p>
    <hr />
</div>
<div class="row-fluid">
    <div class="span12 explore-box">
        <h3>Popular Resources</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Topics</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
            {% for resource in popular_resources %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></td>
                    <td>{% for topic in resource.topics.all %}{% if not forloop.first %}, {% endif %}<a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>{% endfor %}</td>
                    <td><a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 explore-box">
        <h3>Recent Resources <small>(<a href="{% url 'explore_recent_resources' %}">Browse More</a>)</small></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Topics</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
            {% for resource in recent_resources %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></td>
                    <td>{% for topic in resource.topics.all %}{% if not forloop.first %}, {% endif %}<a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>{% endfor %}</td>
                    <td><a href="{{ resource.created_by.get_absolute_url }}">{{ resource.created_by }}</a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span6 explore-box">
        <h3>Popular Topics <small>(<a href="{% url 'explore_all_topics' %}">Browse all</a>)</small></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Topic</th>
                </tr>
            </thead>
            <tbody>
            {% for topic in popular_topics %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span6 explore-box">
        <h3>Popular Domains <small>(<a href="{% url 'explore_all_domains' %}">Browse all</a>)</small></h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Domain name</th>
                    <th>Resources Submitted</th>
                </tr>
            </thead>
            <tbody>
            {% for domain, count in popular_domains %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="http://{{ domain }}">{{ domain }}</a></td>
                    <td> {{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
